// Extra small devices (portrait phones, less than 544px)
@include media-breakpoint-up(xs) { 

	/*------- Compact -------*/

	.txt-block-half{
		height: 100vmin;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.img-half {

		height: 100vmin;
		background-size: cover;
		background-position: center;
	}

	/*------- Full -------*/

	.txt-block-full{
		height: 100vmin;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.img-full {

		height: 100vmin;
		background-size: cover;
		background-position: center;
	}

}//End of media query


// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm)  { 

	.txt-block-half h2,
	.txt-block-half p,
	.txt-block-full h2,
	.txt-block-full p { width: 90%; }

}//End of media query

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

	.txt-block-half,
	.img-half, 
	.txt-block-full,
	.img-full { height: 50vmin; }

}//End of media query

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

	.txt-block-half,
	.img-half, 
	.txt-block-full,
	.img-full { height: 60vmin; }

	.txt-block-half h2,
	.txt-block-half p,
	.txt-block-full h2,
	.txt-block-full p { width: 70%; }

}//End of media query

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

   	.txt-block-half,
	.img-half, 
	.txt-block-full,
	.img-full { height: 70vmin; }

}//End of media query
