// Extra small devices (portrait phones, less than 544px)
@include media-breakpoint-up(xs) { 

::-webkit-scrollbar{
	   display: none; 
} 

.image-container{
	    overflow-x: scroll;
        -webkit-overflow-scrolling:touch; 
        -moz-overflow-scrolling:touch;  
        padding-left: 20px;
        //background-color: $gray-lightest;
        //margin-top: 20px;
}

.feature-txt-block {
	height: 100vmin;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
 /* Width  = amount of image blocks minus 1 * 100
  This is to allow the next image block to display in a row*/
  width: 2100px;
  height: 125vmin;
}

// .feature-txt-block { overflow: hidden;}

.feature-product-block {
  width: 270px;
  height: auto;
}

.feature-product-block img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.feature-product-block h3,
.feature-product-block h4 {
text-align: center;
margin-bottom: 0;
}


}//End of media query


// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm)  { 



.feature {
  width: 2160px;

}

.feature:first-child {
  margin-left: 10vw;

}

}//End of media query

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

.feature-txt-block { height: 40vmin;}
.feature { height: 50vh;}

.feature-txt-block h2,
.feature-txt-block p { width: 60%; }
.feature-txt-block p:last-child { margin-bottom: 0; }

}//End of media query

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

.image-container{

		overflow: hidden;
         background-color: $white;
}

.feature-txt-block {
	height: 80vmin;
}

.feature-txt-block h2 { padding-bottom: 48px;}

.width{ width:60%;}

.feature:first-child {
  margin-left: 0;

}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 65vw;
  height: 80vmin;
}

.feature-product-block {
  width: 23%;
  height: auto;
  margin-top: 10px;
}

.feature-product-block img{
	padding: 10px;
	width: 100%;
}

.feature-product-block h3,
.feature-product-block h4{ margin-bottom: 0;
line-height: 1.5rem;
}


}//End of media query

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

.feature-txt-block { height: 100vh; }

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60vw;
  height: 100vh;
}

}//End of media query
