// Extra small devices (portrait phones, less than 544px)
@include media-breakpoint-up(xs) { 

// To allow the down icon to position itself correctly
.hero-full, .hero-half{
	position: relative;
}

.hero-img{
	background-size: cover;
	background-position: center;
}

.hero-full {
height: 75vh;
@extend .hero-img;
}

.hero-half {
height: 50vh;
@extend .hero-img;
}

.hero-compact {
height: 50vh;
@extend .hero-img;
}

.hero-plain{
height: 45vh;
}

.tint{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

// Hero-full module enhancements 

	// Targets the down arrow to be placed at the bottom
	.hero-full img { 
		margin-top: 6rem;
	}

}//End of media query


// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm)  { 


}//End of media query

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

	.hero-full { height: 90vh; }


}//End of media query

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

	.hero-compact { height: 80vh; }

	.hero-full { height: 86vh;}

}//End of media query

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

   

}//End of media query
