// Extra small devices (portrait phones, less than 544px)
@include media-breakpoint-up(xs) { 

	// Divide the amount of products in columns
	 .products {
	  -webkit-columns: 140px;
	  -moz-columns: 140px;
	  columns: 140px;
	  // the gap between the columns 
	  -webkit-column-gap: 10px;
	  -moz-column-gap: 10px;
	  column-gap: 10px;  
	}
	
	// Column-break-inside allows you to create a pinterest type 
	// of look and feel. Through the margin 
	// space between different product blocks can be changed
	ul.products li {

	  -webkit-column-break-inside: avoid;
	  page-break-inside: avoid;
	  break-inside: avoid;
	  margin: 25px 5px 15px 5px;
	}
	
	// However, if all blocks are required to be 
	// the same square shape, add .block class
	// to the ul tag
	ul.block li:first-child {
	margin-top: 0px!important;
	}

}//End of media query


// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm)  { 

	 .products {
	  -webkit-columns: 200px;
	  -moz-columns: 200px;
	  columns: 200px;
	  -webkit-column-gap: 10px;
	  -moz-column-gap: 10px;
	  column-gap: 10px;  
	}

}//End of media query

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

	 .products {
	  -webkit-columns: 160px;
	  -moz-columns: 160px;
	  columns: 160px;
	  -webkit-column-gap: 10px;
	  -moz-column-gap: 10px;
	  column-gap: 10px;  
	}


}//End of media query

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

	 .products {
	  -webkit-columns: 180px;
	  -moz-columns: 180px;
	  columns: 180px;
	  -webkit-column-gap: 10px;
	  -moz-column-gap: 10px;
	  column-gap: 10px;  
	}

}//End of media query

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

	 .products {
	  -webkit-columns: 250px;
	  -moz-columns: 250px;
	  columns: 250px;
	  -webkit-column-gap: 10px;
	  -moz-column-gap: 10px;
	  column-gap: 10px;  
	}

}//End of media query
