
/* ------------------ Type -------------------- */


//
// Horizontal rules
//

hr {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h2-alt, .h3, .h3-alt, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

p,
.p-medium, .p-small, .p-light {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }

h2, .h2 { font-size: $font-size-h2; }
h2, .h2-alt { font-size: $font-size-h2-alt; }

h3, .h3 { font-size: $font-size-h3;
          font-weight: $font-size-h3-weight; }
h3, .h3-alt { font-size: $font-size-h3-alt; }

h4, .h4 { font-size: $font-size-h4;
          font-weight: $font-size-h4-weight; }

p, .p-medium { font-size: $font-size-p-medium; }
p, .p-small { font-size: $font-size-p-small; }
p, .p-light, { font-size: $font-size-p-light;
              line-height: 28px;
              font-weight: 300;
}

//
// Change font weight
//

.txt-medium { font-weight: 400; }
.txt-light { font-weight: 200; }


//
// References
//

// h1                  3.125rem;          50px
// h2                  2.5rem;            40px
// h2-alt              1.875rem;          30px
// h3                  1.5rem;            24px
// h3-alt              1.125rem;          18px
// h4                  1rem;              16px


// Over rides 
h1, .h1 { line-height: 4rem; }


//
// Heading colour variations
//

.txt-white { color: $white!important; }
.txt-gold { color: $gold!important; }
.txt-gray { color: $gray-dark;}
.txt-gem { color: $gem; }


//
// Letter spacing
//

// Create letter spacing inside the hero
// Used for H1
.letter-space-large {
    letter-spacing: 7px;  
}

//
// Underline for H3 titles
//

.txt-underdline {
  width: 200px;
  border-bottom: 2px solid $gold;
}

//
// Text shadow for H1 on images
//

.txt-shadow { text-shadow: 2px 2px #000; }


// Extra small devices (portrait phones, less than 544px)
@include media-breakpoint-up(xs) { 

  .h1 { 
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 3px; 
   }

   // Product list and block styles

    .product-title,
    .brand-title { 
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1rem;
      margin: 5px 0 0 5px;
      //margin-bottom: 0px;
    }

    .brand-title { font-weight: 200; }

}//End of media query


// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) { }//End of media query

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

  .product-title, 
  .brand-title { 
    font-size: 0.9rem;
    margin-top: 15px;
  }

}//End of media query


// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

  .product-title, 
  .brand-title { 
    //font-size: 0.9rem;
    margin-top: 10px;
  }

}//End of media query
