
/* ------------------ Type -------------------- */

//
// Horizontal rules
//

hr {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h2-alt, .h3, .h3-alt, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

p,
.p-medium, .p-small, .p-light {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h2, .h2-alt { font-size: $font-size-h2-alt; }
h3, .h3 { font-size: $font-size-h3; }
h3, .h3-alt { font-size: $font-size-h3-alt; }
h4, .h4 { font-size: $font-size-h4; }

p, .p-medium { font-size: $font-size-p-medium; }
p, .p-small { font-size: $font-size-p-small; }
p, .p-light { font-size: $font-size-p-light;
			  line-height: 28px;
}

//
// Heading colour variations
//

.txt-white { color: $white!important; }
.txt-gold { color: $gold!important; }


