/* ------------------ Colour background -------------------- */

.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
.bg-gray { background-color: $gray; }

.bg-gem { background-color: $gem; }
.bg-ruby { background-color: $ruby; }
.bg-gold { background-color: $gold; }

.bg-gold-light { background-color: $gold-light }
.bg-gold-lightest { background-color: $gold-lightest }

.bg-gray-light { background-color: $gray-light; }
.bg-gray-lightest { background-color: $gray-lightest; }

.bg-gray-dark { background-color: $gray-dark; }
.bg-gray-darkest { background-color: $gray-darkest; }

/* ------------------ Spacing -------------------- */

.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.mt-50{ margin-top: 50px; }
.mt-60{ margin-top: 60px; }
.mt-70{ margin-top: 70px; }
.mt-80{ margin-top: 80px; }
.mt-90{ margin-top: 90px; }
.mt-100{ margin-top: 100px; }
.mt-150{ margin-top: 150px; }
.mt-200{ margin-top: 200px; }


.pt-10{ padding-top: 10px; }
.pt-20{ padding-top: 20px; }
.pt-30{ padding-top: 30px; }
.pt-40{ padding-top: 40px; }
.pt-50{ padding-top: 50px; }
.pt-60{ padding-top: 60px; }
.pt-70{ padding-top: 70px; }
.pt-80{ padding-top: 80px; }
.pt-90{ padding-top: 90px; }
.pt-100{ padding-top: 100px; }
.pt-150{ padding-top: 150px; }
.pt-200{ padding-top: 200px; }


/* ------------------ Background Image Tints -------------------- */

.tint-0 { background-color: rgba(0,0,0,.0); }
.tint-1 { background-color: rgba(0,0,0,.1); }
.tint-2 { background-color: rgba(0,0,0,.2); }
.tint-3 { background-color: rgba(0,0,0,.3); }
.tint-4 { background-color: rgba(0,0,0,.4); }
.tint-5 { background-color: rgba(0,0,0,.5); }
.tint-6 { background-color: rgba(0,0,0,.6); }
.tint-7 { background-color: rgba(0,0,0,.7); }
.tint-8 { background-color: rgba(0,0,0,.8); }
.tint-9 { background-color: rgba(0,0,0,.9); }
.tint-10 { background-color: rgba(0,0,0,1); }


/* ------------------ Containers  -------------------- */

.container-small { width: 500px; }


/* ------------------ Image position  -------------------- */

.img-center { 
    display: block;
    margin: 0 auto;
}



/* ------------------ CTA's -------------------- */

	.primary-btn-small {     
	background-color: $white;
	border: none;
    border-radius: 100px;
    padding: 5px 30px;
    display: block;
    margin: 0 auto; }

    .btn-left { margin: 0;}


    .primary-btn-medium {
    	@extend .primary-btn-small;
    	height: 50px;
    }

	.secondary-btn-small {     
	@extend .primary-btn-small;
	border: 2px solid $gray-darkest;
    }


    .secondary-btn-medium {
    	@extend .secondary-btn-small;
    	height: 50px;
    }

    .tertiary-btn-small {     
    @extend .primary-btn-small;
    background: transparent;
    padding: 5px 20px;
    border: 1px solid $gray-darkest;
    }


    .tertiary-btn-medium {
        @extend .tertiary-btn-small;
        background: transparent;
        height: 50px;
    }

	button:hover, 
	button:active:hover, 
	button:active:focus {
	background-color: $gem !important;
	color: $white; 
	border: rgba(72, 216, 216, 1) 1px solid;
    cursor: pointer;
    }

// Extra small devices (portrait phones, less than 544px)
    @include media-breakpoint-down(xs) { 

    button.primary-btn-medium{ 
        font-size: 14px;
        height: 40px;
    }

}//End of media query

